body {
    background-color: black;
    color: #F88E21;
    margin-left: 25%;
    margin-right: 25%;
}

.main {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%
}

a:link {
    color: #F97900;
}

a:visited {
    color: #FA7003;
}

a:active {
    color: #FA7003;
}

a:hover {
    color: #A0000F;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centered {
    text-align: center;
}
